* {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

body {
    margin: 0;
    padding: 0;
    padding-bottom: 300px;
}

/*topo do site*/

/*estrutura do logo*/

header {
    display: flex;
    justify-content: center;
    height: 120px;
}

.container {
    display: flex;
    justify-content: space-between;
    width: 990px;
}

.logo {
    display: flex;
    align-items: center;
}

/*estrutura do menu*/

.menu {
    display: flex;
    align-items: center;
}

nav ul, nav li {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul {
    display: flex;
}

nav a {
    display: block;
    padding: 15px;
    text-decoration: none;
    text-transform: uppercase;
    color: #727272
}

nav .active a, nav a:hover {
    background-color: #39aae1;
    color: #fff;
}

/* area do banner*/

#banner {
    background-image: url('../images/img1.jpg');
    background-position: center;
    background-size: cover;
    height: 670px;
    display: flex;
    justify-content: center;
}

.column {
    flex-direction: column;
}

.banner_headline {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.banner_headline h1 {
    color: #fff;
    font-size: 70px;
    text-shadow: 2px 2px 0px #555555;
    margin: 0;
    padding: 0;
    max-width: 350px;
}

.banner_headline h2 {
    color: #fff;
    font-size: 21px;
    text-shadow: 2px 2px 0px #555555;
    margin: 0;
    padding: 0;
    max-width: 350px;
    margin-top: 30px;
}

.banner_options {
    height: 210px;
    display: flex;
}

.banner1, .banner2, .banner3 {
    flex: 1;
    color: #fff;
    padding: 20px;
}

.banner1 {
    background-color: #39aae1;
}

.banner2 {
    background-color: #0079c7;
}

.banner3 {
    background-color: #2b4c99;
}

.banner_title {
    font-size: 23px;
}

.banner_desc {
    font-size: 14px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.banner_options a {
    display: inline-block;
    border: 1px solid #fff;
    padding: 5px;
    color: #fff;
    font-size: 16px;
    text-decoration: none;
}

.margin {
    margin-bottom: 10px;
}

.hours {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #355db9;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 14px;
}

/*conteudo*/

#geral {
    display: flex;
    justify-content: center;
}

#geral section {
    flex: 2;
}

#geral aside {
    flex: 1;
}

.widget_title {
    margin-top: 30px;
    margin-bottom: 2px;
}

.widget_title_text {
    color: #000;
    font-weight: bold;
    font-size: 21px;
}

.widget_title_bar {
    width: 50px;
    height: 3px;
    background-color: #36a9e1;
    margin-top: 10px;
}

.widget_body a {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.departament {
    margin-top: 20px;
    width: 150px;
    height: 150px;
}

.contact_text {
    margin-top: 20px;
    font-size: 14px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 20px;
}

.contact {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #ddd;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 14px;
}

.contact img {
    margin-right: 10px;
}

.contact a {
    text-decoration: none;
    padding-right: 5px;
    padding-left: 5px;
}